@model IEnumerable<giadinhthoxinh.Models.tblSupplier>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


@section naviheader{
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
    </ul>
}

<section class="content-header p-2">
</section>

<section class="content ml-2 mr-2">
    <div class="card">
        <div class="card-header">
            <h1 class="card-title text-lg text-danger">Danh sách cửa hàng</h1>
        </div>

        <div class="card-body table-responsive text-nowrap">
            <table class="table table-hover table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>
                            Tên cửa hàng
                        </th>
                        <th>
                            Số điện thoại
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Địa chỉ
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model) {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.sSupplierName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.sPhone)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.sEmail)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.sAddress)
                            </td>
                            <td>
                                @Html.ActionLink("Sửa", "Edit", new { id = item.PK_iSupplierID }, new { @class = "btn btn-primary btn-warning" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="card-footer">

        </div>
    </div>
</section>